/* FONT TODO LE FORMULARIO */
*{
    font-family: 'Montserrat', sans-serif; 
}

/*  */

/* Formulario */
h1{
    font-weight: bold; 
    font-size: 30px; 
    margin-bottom: 40px;
    padding-left: 170px;
  }
#contenedor_form_logo_boton{
    display: flex;
    height: 963px;

}
.contenedor_input{
    display: flex;
    flex-direction: column;

}
#contenedor_form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 963px;
    
}
form{
    width: 50%;
    padding-left: 170px;
}

label{
    font-size: 16px;
    margin: 10px 0;
}
.llenar{
    font-size: 20px;  
    text-align: center;
    border-radius: 7px;
    height: 50px;
    border: 1px solid black;
    
}

#txtDescripcion{
    height: 250px;
    text-align: left;
    padding: 5px;
}
/*  */

/* contenedor imagotipo */

#contenedor_logo{
    
    display: flex;
    justify-content: left;
    align-items: center;
    height: 700px;

}
img{
    width: 500px;
    height: 500px;
}
/* contenedor botones */
#contenedor_botones{
    width: 1500px;
    height: 155px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
button{
    height: 45px;
    width: 135px;
    font-size: 16px;  
    border-radius: 7px;
    margin-bottom: 9px;
    background-color: white;
    border: 2px solid #00FFA0;
    color: #00FFA0;
}
#btn_Enviar{
    height: 45px;
    width: 235px;
    font-size: 16px;  
    border-radius: 7px;
    margin: 10px;
    background-color: white;
    border: 2px solid #00FFA0;
    color: #00FFA0;}
#btn_Volver{
    height: 45px;
    width: 235px;
    font-size: 16px;  
    border-radius: 7px;
    margin: 10px;
    background-color: white;
    border: 2px solid #00FFA0;
    color: #00FFA0;
    
}
#btn_Volver:hover{
    cursor: pointer;
    background-color: #00FFA0;
    color: #A000FF;
    font-size: 26px;
    font-weight: bold;
    border: #00FFA0;
    font: weight 900px;
    
}
#btn_Enviar:hover{
    cursor: pointer;
    background-color: #00FFA0;
    color: #FFFF00;
    font-size: 26px;
    font-weight: bold;
    border: #00FFA0;
    font: weight 900px;
}

.error{
    border: 3px solid red;
}

@media only screen and (min-width:650px) and (max-width:1024px){
    #contenedor_logo{
        height: 800px; 
    } 
} 
@media only screen and (max-width:650px){
    
    #contenedor_form_logo_boton{
        flex-direction: column;
        justify-content: center;
    
    } 
    #contenedor_logo_botones{
        width: 100%;
        justify-content: center;
    }
    #contenedor_form{
    width: 100%;
    }#contenedor_botones{

        justify-content: start;
        align-items: flex-end;
    }
} 

