
body{  
    font-family: 'Montserrat';
}
#titulo{
    position: relative;
    left: 250px;
}
#imagen1 {
    float: right;
    text-align: center;
    width: 40%;
    margin-top: 8%;
    }
#contenedor {
    float: left;
    text-align: center;
    width: 45%;
    margin-top: 4%;
    }  
header {
    text-align: center;
    justify-content:center;
    margin-top: 5%;
    width: 40%;
    }
#correo {
    text-align:center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    right: 20px;
    }
#txtcorreo {
    text-align: center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    left: 61px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border-color: black; 
    }
#nombre {
    text-align:center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    right: 60px;
    }
#txtnombre {
    text-align: center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    left: 61px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border-color: lack;
    }
#direccion {
    text-align:center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    right: 50px;
    }
#txtdireccion {
    text-align: center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    left: 61px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border-color: black;
    }
#telefono {
    text-align:center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    right: 10px;;
    }
#txttelefono {
    text-align: center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    left: 61px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border-color: black;
    }
button{
        font-family: 'Montserrat', sans-serif; 
        height: 40px;
        width: 14%;
        font-size: 12px;  
        border-radius: 7px;
        margin: 10px;
        background-color: white;
        border: 2px solid #00FFA0;
        color: #6a5acd;
        position: relative;
        margin-top: 150px;
        left: 200px;
    }
    
#btnguardar {
   
    background-color: #00fa9a;
    color: #4682b4; 
    border-color:  #00fa9a;
    font-weight: bold; 
    } 
#btnatras:hover {
    

    color: #6a5acd;
    border-color:   #6a5acd; 
    font-weight: bold;
    background-color: transparent;
    
} 

