
body{  
    font-family: 'Montserrat';
}
#contenedor {
    float: left;
    text-align: center;
    width: 45%;
    margin-top: 4%;
    }  
header {
    text-align: center;
    justify-content:center;
    margin-top: 5%;
    width: 50%;
    }
#correo {
    text-align:center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    right: 20px;
    }
#txtcorreo {
    text-align: center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    left: 61px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border-color: black; 
        }
#nombre {
    text-align:center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    right: 60px;
    }
#txtnombre {
        text-align: center;
        justify-content:center;
        margin: 5px;
        vertical-align: auto;
        position: relative;
        left: 130px;
        width: 50%;
        height: 30px;
        border-radius: 5px;
        border-color: lack;
        }
#direccion {
    text-align:center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    right: 50px;
    }
#txtdireccion {
    text-align: center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    left: 130px;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border-color: black;
        }
#telefono {
    text-align:center;
    justify-content:center;
    margin: 5px;
    vertical-align: auto;
    position: relative;
    right: 10px;;
    }
#txttelefono {
        text-align: center;
        justify-content:center;
        margin: 5px;
        vertical-align: auto;
        position: relative;
        left: 131px;
        width: 50%;
        height: 30px;
        border-radius: 5px;
        border-color: black;
        }

#btnguardar {
    width: 10%;
    padding: 8px 8px; 
    background-color: #00fa9a;
    color: #4682b4;
    border-radius: 5px;  
    margin: 10px; 
    border-color:  #00fa9a;
    font-weight: bold;
    position: relative;
    left: 200px; 
} 
#btnatras {
    width: 12%;
    padding: 8px 8px; 
    color: #6a5acd;
    border-radius: 5px;  
    border-color:   #00fa9a; 
    margin: 10px; 
    font-weight: bold;
    background-color: transparent;
    position: relative;
    left: 200px;
    margin-top: 450px;    
} 
#btnedit {
    width: 20%;
    padding: 12px 12px; 
    background-color: #00fa9a;
    color: #4682b4;
    border-radius: 5px;  
    margin: 5px; 
    border-color:   #00fa9a;
    font-weight: bold;
    position: relative;
    left: 150px;    
} 
#btnedit3 {
    width: 20%;
    padding: 12px 12px; 
    background-color: #00fa9a;
    color: #4682b4;
    border-radius: 5px;  
    margin: 5px; 
    border-color:   #00fa9a;
    font-weight: bold;
    position: relative;
    left: 150px;    
}
#titulo{
    position: relative;
    left: 150px;
}