
body{ 
    font-family: 'Montserrat';
}
#imagen {
    margin-top: 5%;
    float: left;
    text-align: center;
    width: 50%;
    height: 200px;
    justify-content: center;
    align-items: left;
} 
header{
    margin-top: 6%;
    font-size: 26px;
     font-weight: bold;
}
#texto{
    font-size: larger; 
    position: relative;
    width: 80%;  
}
input{
    margin: 6px;
    width: 21%;
    height: 30px; 
}   
#btninicio{
    margin: 8px;  
    width: 21%;
    height: 30px; 
    background-color: black;
    border: 2px solid black;
    color: white;
    
}
#btnolvidar{
    margin: 8px;  
    width: 21%;
    height: 30px; 
    background-color: transparent;
    border: 2px solid transparent;
    color: black;
    
}
#btnnueva{
    margin: 8px; 
    width: 21%;
    height: 30px;
    background-color: black;
    border: 2px solid black;
    color: white;
    position: relative;
    left: 674px;
}
#btncontenedor{
    align-items: center;
    justify-content: center;
    display: block;
}