*{
    font-family: 'Montserrat', sans-serif;
}

body{ 
    font-size:26px ;
}
#container{
    margin-top: 5%;
    float: right;
    width: 50%;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: black;
}
#imagen {
    margin-top: 12%;
    float: left;
    text-align: center;
    width: 50%;
    height: 200px;
    justify-content: center;
    align-items: left;
} 
#txtcorreo{
    margin: 10px;  
    border-radius: 5px;      
    width: 43%;
    padding: 10px 20px; 
    font-size: 15px;
}
#txtcontrasenna {
    margin: 10px;  
    border-radius: 5px;      
    width: 43%;
    padding: 10px 20px; 
    font-size: 15px;
}

#btn-inicio {
    width: 50%;
    padding: 10px 80px; 
    background-color: black; 
    color: white;
    border-radius: 5px;  
    margin: 10px;
}  
#txtolvidar {
    position: relative;
    left: 10px;
    color: black; 
    margin: 10px;
}

/* Estilo de los botones */

button{
    height: 45px;
    width: 355px;
    font-size: 16px;  
    border-radius: 7px;
    margin: 10px;
}

#btn-nueva {
    width: 50%;
    padding: 10px 50px;   
    background-color: black; 
    color: white;
    border-radius: 5px;
    margin: 10px
} 

#btn-volver {
    width: 50%;
    padding: 10px 50px;   
    background-color: black; 
    color:#FFFF00;
    border-radius: 5px;
    margin: 10px
} 

#btn-volver:hover{
    cursor: pointer;
    background-color:#FFFF00;
    color:#A000FF;
    font-size: 18px;
    border: #00FFA0;
    font-weight: bold;
}

#btn-inicio:hover{
    cursor: pointer;
    background-color: #00FFA0;
    color:#A000FF;
    font-size: 18px;
    border: #00FFA0;
    font-weight: bold;
}

#btn-nueva:hover{
    cursor: pointer;
    background-color: #00FFA0;
    color:#FFFF00;
    font-size: 20px;
    border: #00FFA0;
    font-weight: bold;
}