body {
    background-color: #fff;
	font-family: 'Montserrat', sans-serif; 
}

header {
	padding: 60px;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 20%;
}


#imagen {
    position: fixed;
    top: 20px;
    right: 20px;
} 



h4{
	font-size: 30px;
	color: #A000FF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
    position: flex;
	align-items: center;
	justify-content: center;
    margin-bottom: 70px;
}


.form {
	display: flex;
    align-items: center;
	align-content: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

.llenar{
    border: 1px solid grey;
	padding: 10px 0;
	font-size: 16px;
	color: #A000FF;
	border-radius: 7px;
	width: 500px;
	height: 30px;
	outline: none;
	background: transparent;
    padding-left: 4px;
}
.form input::placeholder { color: #A000FF; }
.form h4{
    width: 125%;
}

body .terms{
	vertical-align: bottom;
	position: relative;
	margin-bottom: 75px;
}

 #termsAcceptance {
	width: 120px;

}

/* CSS PARA EL A REF*/
.botones a{
	position: relative;
}

/* Estilo de los botones */

button{
	font-family: 'Montserrat', sans-serif; 
	height: 45px;
    width: 235px;
    font-size: 16px;  
    border-radius: 7px;
    margin: 10px;
    background-color: white;
    border: 2px solid #00FFA0;
    color: #00FFA0;
}
#btn-enviar:hover{
    cursor: pointer;
    background-color: #00FFA0;
    color:#A000FF;
    font-size: 18px;
    border: #00FFA0;
    font-weight: bold;
}
#btn-volver:hover{
    cursor: pointer;
    background-color:#FFFF00;
    color:#A000FF;
    font-size: 18px;
    border: #00FFA0;
    font-weight: bold;
}

.error{
    border: 2px solid red;
}