
header{
    margin-top: 25%;
    float: right;
    width: 30%;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: black;
    
    }
#texto {
    margin-top: 30%;
    float: right;
    width: 25%;
    height: 80px;
    justify-content: right;
    align-items: right;
    color: black;
    }  
#txtcorreo {
    float: right;
    width: 30%;
    height: 30px;
    color: black; ;
    margin-top: 40%;
    }
#txtcontrasenna {
    float: right;
    width: 30%;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: black; ;
    margin-top: 45%;
        }
#imagen {
    float: left;
    text-align: center;
    width: 55%;
    height: 140px;
    justify-content: left;
    align-items: left;
    }  
#btnInicio{
    margin-top: 35%;
    float: right;
    width: 30%;
    height: 80px;
    justify-content: center;
    align-items: center;
    color: black;   
}
#txtolvidar{
    margin-top: 35%;
    float: right;
    width: 30%;
    height: 80px;
    justify-content: center;
    align-items: center;
    color: black;   
}
#btnNueva{
    margin-top: 35%;
    float: right;
    width: 30%;
    height: 80px;
    justify-content: center;
    align-items: center;
    color: black;   
}
